body {
    font-family: Poppins;
    box-sizing: border-box;
}

.headline {
    font-weight: 500;
    font-size: 46px;
}

section {
    margin-bottom: 60px;
}

/*---------------------------------------HEADER-----------------------------------------------*/
.header {
    width: 100%;
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1283px;
    min-height: 119px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0 15px;
    z-index: 10;
}

.menu_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 388px;
    height: 47px;
    list-style: none;
    padding-left: 0px;
}

.header_logo {
    position: relative;
    z-index: 5;
}

.burger_icon {
    display: none;
}

.nav_link {
    text-decoration: none;
    height: 27px;
    font-weight: 400;
    line-height: calc(27/15*100%);
    font-size: 15px;
    color: #FFFF;
}

.nav_link:hover {
    text-decoration: underline;
}

.header_button {
    text-align: center;
    width: 153px;
    height: 52px;
    line-height: 50px;
    border: 1px solid #FFFFFF;
    border-radius: 39px;
    position: relative;
    z-index: 5;
    margin-right: 28px;
}

.header_button_button {
    text-decoration: none;
    color: #FFFFFF;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.header_text {
    max-width: 651px;
    margin-top: 80px;
}

.title {
    font-weight: 900;
    font-size: 55px;
    text-align: center;
    color: #FFFFFF;
}

.sub_title {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: #FFFFFF;
    margin-bottom: 71px;
}

.page_buttons {
    display: flex;
    justify-content: space-between;
    width: 375px;
}

.page_button {
    text-align: center;
    text-decoration: none;
    width: 178px;
    height: 52px;
    line-height: 50px;
    border-radius: 39px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

.page_button:hover {
    background-color: #FFFFFF;
    color: #112D57;
}

.header_img {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 50px;

}

/*---------------------------------------Section_1-----------------------------------------------*/

.section_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: auto;
}

.card_body {
    width: 79%;
    padding: 40px;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #DEDEDE;
}

.card_text {
    width: 281px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #5C5C5C;
}

.section1_title {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 60px;
}

.section1_title h1 {
    text-align: center;
    max-width: 765px;
}

.card_ref {
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    color: #03D6F3;
    padding-top: 15px;
}

.card_ref:hover {
    text-decoration: underline;
}

.section_card_color {
    border-radius: 10px;
    border: 1px solid #DEDEDE;
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.section_card_color .card_body>* {
    color: #FFFFFF;
}

/*---------------------------------------Sections_2_3_4-----------------------------------------------*/
.section_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.section_text {
    display: grid;
    align-content: end;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 85%;
    justify-self: end;
}

.section_img {
    grid-column: 2/3;
    grid-row: 1/4;
    width: 90%;
    height: 137%;
}

.sections_buttons {
    grid-column: 1/2;
    grid-row: 3/4;
    align-content: start;
    justify-self: center;
}

.section3_text {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: end;
}

.section3_img {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 85%;
    position: relative;
    left: 17px;
    top: 77px;
}

.sections3_buttons {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2/3;
    grid-row: 3/4;
    align-content: center;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.sections_title {
    font-weight: 500;
    font-size: 46px;
}

.sections_sub_title {
    font-weight: 700;
    font-size: 16px;
    color: #5C5C5C;
}

.sections_button {
    width: 198px;
    color: #30D7BA;
    font-weight: 500;
    line-height: 3.2em;
    /*ask*/
    text-align: center;
    text-decoration: none;
    border-radius: 39px;
    border: 1px solid #30D7BA;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.sections_button:not(:last-child) {
    margin-right: 22px;
}

.sections_button:hover {
    color: #FFFFFF;
    background: #03D6F3;
}

.section4_img {
    grid-column: 2/3;
    grid-row: 2/4;
    width: 100%;
    margin-bottom: 30px;
}

.section3 .sections_buttons .sections_button {
    width: 147px;
}

.section4 .sections_title {
    max-width: 374px;
}

.section4 .sections_sub_title {
    width: 301px;
    font-weight: 400;
    font-size: 18px;
}

/*---------------------------------------Section_5-----------------------------------------------*/
.section5_text {
    margin-bottom: 30px;
    text-align: center;
}

.section5_title {
    font-weight: 500;
    font-size: 46px;

}

.section5_sub_title {
    font-weight: 400;
    font-size: 18px;
    margin: 0 auto;
    color: #5C5C5C;
    font-family: 'Roboto';
}

.section5_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.section5_card {
    width: 335px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    padding: 30px 0px;
    margin-top: 40px;
}

.section5_card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 45px;
    gap: 30px;
}

.section5_card_cost {
    display: flex;
    flex-direction: row;
}

.card_cost {
    font-weight: 900;
    font-size: 55px;
    color: #30D7BA;
    margin: 0px;
}

.dollar {
    font-weight: 700;
    font-size: 30px;
    color: #30D7BA;
    position: relative;
    top: -5px;
    left: 12px;
    margin: 0px;
}

.per {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 12px;
    color: #5C5C5C;
    position: relative;
    top: 38px;
    left: -7px;
    margin: 0px;
}

.section5_card_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 15px;
}

.section5_card_button {
    width: 251px;
    height: 52px;
    border-radius: 39px;
    background: #03D6F3;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.section5_card_button_btn {
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: 17px;
    left: 76px;
}

/*---------------------------------------Section_6-----------------------------------------------*/
.section6_container {
    text-align: center;
    width: 95%;
    margin: 100px auto;
}

.section6_title {
    font-weight: 500;
    font-size: 46px;
}

.section6_subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #5C5C5C;
}

.section6_registration {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 69px;
}

.section6_email {
    width: 284px;
    height: 52px;
    background: #EFEFEF;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
}

.section6_btn {
    width: 177px;
    height: 52px;
    text-decoration: none;
    color: #30D7BA;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    line-height: 50px;
}

.section6_btn:hover {
    background: #03D6F3;
    color: #FFFFFF;
}



/*-----------------------------------------Footer------------------------------------------------*/
.footer {
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    background: #112D57;
    padding: 62px 0px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    color: #FFFFFF;
}

.prices_item {
    display: flex;
    justify-content: space-between;
    width: 317px;
}

.prices_item_subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

.prices_item_subtitle {
    margin-top: 66px;
}

.social_net {
    display: flex;
    justify-content: space-between;
    width: 171px;
    margin-top: 43px;
}

.data {
    float: left;
}

.data img {
    margin-right: 15px;
}

/*-----------------------------------------Adaptive------------------------------------------------*/
@media (min-width: 1024px) {
    .title {
        max-width: 631px;
        font-size: 55px;
        font-weight: 800;
    }
}

@media (max-width: 1025px) {

    .img {
        width: 90%;
        transition: (all 0.3 ease);
    }

    .title {
        max-width: 631px;
        font-size: 55px;
        font-weight: 700;
        margin-top: 100px;
        margin-bottom: 27px;
    }

    .section_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .section_img {
        width: 83%;
        top: 45px;
        position: relative;
    }

    .sections_buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-left: 0;
    }

}

@media (max-width: 802px) {

    .menu_list {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        list-style: none;
        font-size: 30px;
        margin-top: 150px;
        margin-left: 20px;
    }

    .nav_link {
        font-size: 19px;
    }

    .burger_icon {
        display: block;
        position: relative;
        z-index: 5;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .burger_icon span,
    .burger_icon::before,
    .burger_icon::after {
        right: 0;
        position: absolute;
        background-color: #FFFFFF;
        height: 10%;
        transition: all 0.3s ease 0s;
    }

    .burger_icon::before,
    .burger_icon::after {
        content: "";
    }

    .burger_icon::before {
        left: 0;
        width: 100%;
    }

    .burger_icon::after {
        bottom: 0;
        width: 50%;
    }

    .burger_icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        width: 75%;
    }

    .burger_icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .burger_icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .burger_icon._active::after {
        bottom: 50%;
        width: 100%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu_body {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        left: -100%;
        background-color: rgba(136, 178, 211, 0.9);
        transition: left 0.3s ease 0s;
        overflow: auto;
        /*scrolling */
    }

    .menu_body._active {
        left: 0;
        ;
    }

    .menu_body::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 119px;
        background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
        z-index: 2;
    }

    .title {
        font-weight: 600;
        max-width: 631px;
        font-size: 48px;
        margin-top: 70px;
        margin-bottom: 27px;
    }

    .header_button {
        width: 120px;
        height: 52px;
        margin-left: auto;
    }

    .section1_title {
        margin-left: auto;
        margin-right: auto;
        width: 282px;
    }

    .special_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section3_img {
        top: 9px;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
    }

    .prices {
        margin: 0 auto;
    }

    .footer_img {
        margin: 80px auto;
        width: 90%;
    }

    .data {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }
}

@media (max-width: 426px) {

    .title {
        max-width: 307px;
        height: 171px;
        font-size: 46px;
        font-weight: 500;
        margin-top: 55px;
        margin-bottom: 27px;
    }

    .sub_title {
        width: 334px;
        height: 40px;
        margin-top: 0;
    }

    .page_buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .page_button {
        width: 60%;
    }

    .section_img {
        width: 110%;
        top: 22px;
        position: relative;
    }

    .sections_buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .sections_button {
        width: 100%;
        margin-right: 22px;
    }

    .special_button {
        width: 198px;
    }

    .section3_text {
        width: 100%;
        text-align: center;
    }

    .section3_img {
        left: -14px;
        top: 9px;
    }

    .section6_btn {
        width: 75%;
    }
}